@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;700&family=PT+Sans:ital,wght@1,700&display=swap');

        body::-webkit-scrollbar{
          display: none;
        }

        .container-fluid{
            height: 100%;
        }

        .nav-link{
            color: white;
        }

        .navbar-brand{
          font-family: 'Lobster', sans-serif;
          font-size: 30px;
          color: white;
        }

        .font1{
          font-family: 'Lobster', sans-serif;
          font-size: 50px;
          color: #2F4F4F;
        }

        .font2{
          font-family: 'Lobster', sans-serif;
          font-size: 50px;
          color: #2F4F4F;
          border-radius: 50px;
          margin: 10px;
        }

        .navbar-nav{
          font-family: 'PT Sans', sans-serif;
          font-size: 20px;
        }

        .navbar-nav .nav-link:hover {
          color: white;
          border-radius: 10px;
          background-color: #3f474f;
        }

        .navbar-nav .nav-link:focus {
          color: white;
          border-radius: 10px;
        }

        .navbar-brand:hover {
          color: white;
        }

        .navbar-brand:focus {
          color: white;
        }

        .nav-link{
          margin-left: 50px;
        }

        .isi{
          background-size: cover;
          width: auto;
          margin: auto;
          display: flex;
        }

        .box{
          background-color: #A9A9A9;
          height: 800px;
          width: 1000px;
          align-content: center;
          margin-left: auto;
          margin-right: auto;
          border-radius: 50px;
          margin-top: 120px;
          padding: 40px;
        }

        .box1{
          background-color: #A9A9A9;
          height: 810px;
          width: 1000px;
          align-content: center;
          margin-left: auto;
          margin-right: auto;
          border-radius: 50px;
          margin-top: 120px;
          padding: 20px;
        }

        .box2{
          background-color: #A9A9A9;
          height: 550px;
          width: 1000px;
          align-content: center;
          margin-left: auto;
          margin-right: auto;
          border-radius: 50px;
          margin-top: 120px;
          padding: 20px;
        }

        .field{
          border-radius: 10px;
          width: 500px;
          padding-left: 5px;
          padding-right: 5px;
          border: none;
        }

        .field2{
          border-radius: 10px;
          width: 500px;
          max-width: 500px;
          padding-left: 5px;
          padding-right: 5px;
          border: none;
          height: 200px;
        }

        .button{
          border: none;
          border-radius: 30px;
          width: auto;
          padding-left: 30px;
          padding-right: 30px;
          height: 50px;
          font-family: 'PT Sans', sans-serif;
          font-size: 25px;
        }

        .btn1{
          background-color: #2F4F4F;
          color: white;
        }

        .btn2{
          color: #2F4F4F;
        }

        .pp{
          border-radius: 100%;
          width: 250px;
          height: 250px;
          border-color: #2F4F4F;
          border-style: solid;
          border-width: 5px;
        }

        .divider{
          border: 2px solid;
          margin: 5px;
          border-color: #2F4F4F;
          opacity: 50%;
          border-radius: 10px;
        }

        .cv{
          background-color: #ffffff4d;
          border-radius: 30px;
          padding: 20px;
        }

        footer{
          background-color: #212529;
          color: white;
          height: 50px;
          width: auto;
          text-align: center;
          padding: 10px;
        }